<div class="header"> Frequently Asked Questions </div>

<div class="questions">Who can join?</div>
<div class="answers">Anyone who wants to learn
  how to make their own websites, is welcome. Students from
  all fields, majors, and experience levels can join.
</div>

<div class="questions">I already know basics. Why should 
  I join?
</div>
<div class="answers">Good news. We not only have a bootcamp
  for beginners, but also a module for more experienced
  programmers, with tutorials on technologies that they 
  want to learn about, along with many tech talks by our 
  corporate sponsors and senior students.
</div>

<div class="questions">What if I miss a meeting? How do 
  I catch up?
</div>
<div class="answers">For the beginner track, meeting slides,
  code, and other content is located at
  <a href="http://github.com/xhpwn/WDC-Angular2">
  github.com/xhpwn/WDC-Angular2</a>. We also have a Google
   Drive folder here. Additionally, you can always message 
   or contact one of the instructors or the board to get 
   additional help on learning.
</div>

<div class="questions">Sounds fun! When does the club meet?
</div>
<div class="answers">Club meetings are at 6:30 PM. The 
  beginner track usually meets on Mondays and Wednesdays in 
  Physics 331, and the advanced track meets on Tuesdays and
  Thursdays in Physics 338. These are subject to change, so we
  recommend keeping an eye on our Facebook page, and signing
  up for our mailing list here.
</div>

<section id="section04" class="footer">
	©&nbsp;&nbsp;Purdue Web Dev Club 2017&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
  &nbsp;&nbsp;&nbsp;&nbsp;Written in <a href="https://angular.io" target="_blank">
    <img src="app/image/angular2.png" id="footerimg"></a>
  by <a href="http://saxena.xyz" target="_blank">&nbsp;Anubhav Saxena</a>
</section>