<section id="section01">
  <div class="heading">Beginner Track</div>
    <div class="subtext">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="app/image/people/anubhav.jpg" class="pic">
            <div class="imgsub">
          Anubhav Saxena
          </div>
          <div class="imgsub2">
          Lead Instructor
          </div>
        </div>
        <div class="col-md-6">
          <div class="about">About</div>
          <div class="content">The beginner track is the perfect place for
          novices of all majors and experience levels to
          get a basic understanding of how the web works and
          how to build simple, beautiful websites.</div>
          <div class="topics">Topics and Learning Objectives</div>
          <div class="content">Learn how web works, HTML
          & CSS, JavaScript, ES5  ES2015, Intro to
          Advanced Web Topics such as Nodejs and AngularJS.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="section02">
  <div class="heading">Advanced Track</div>
    <div class="subtext">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="app/image/people/maneesh.jpg" class="pic">
            <div class="imgsub">
          Maneesh Tewani
          </div>
          <div class="imgsub2">
          Lead Instructor
          </div>
        </div>
        <div class="col-md-6">
          <div class="about">About</div>
          <div class="content">The advanced track
            is built for people wanting to gain a deeper
            understanding of more advanced web technologies
            needed to build more extensive webpages.
          </div>
          <div class="topics">Topics and Learning Objectives</div>
          <div class="content">Node.js, Build Systems, Modules,
             TypeScript, Angular CLI, Advanced Angular 2 coverage,
              Redux/Immutable State, AngularFire 2
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="section03">
  <div class="heading">Assistant Instructors</div>
    <div class="subtext2">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="app/image/people/maneesh.jpg" class="pic2">
            <div class="imgsub">
          Maneesh Tewani
          </div>
          <div class="imgsub2">
          Lead Instructor
          </div>
          </div>
          <div class="col-md-6">
            <img src="app/image/people/maneesh.jpg" class="pic2">
            <div class="imgsub">
          Maneesh Tewani
          </div>
          <div class="imgsub2">
          Lead Instructor
          </div>
          </div>
        </div>
      </div>
    </div>
</section>