<section id="section01">
  <div class="heading">Beginner Track</div>
    <div class="subtext">
      <div class="container">
        <div class="row">
          <div class="col-md-4 trimg">
        </div>
        <div class="col-md-6">
          Learn how web works, HTML
          & CSS, JavaScript, ES5  ES2015, Intro to
          Advanced Web Topics such as Nodejs and AngularJS.
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          Anubhav Saxena
          Webmaster, Beginner Track Lead Instructor
        </div>
      </div>
    </div>
  </div>
</section>
