#section01 {
  padding-top: 80px;
  padding-bottom: 5%;
  background-color:#a9a9a9;
}

#section02 {
  padding-top: 25px;
  padding-bottom: 5%;
  background-color:#d6d6d6;
}

#section03 {
  padding-top: 25px;
  padding-bottom: 5%;
  background-color:white;
}

.heading {
  font-size: 2.5em;
  text-align: center;
}

.subtext {
  padding-top: 3%;
  font-size: 1.5em;
  text-align: center;
  max-width: 70%;
  margin: auto;
}

.subtext2 {
  padding-top: 3%;
  font-size: 1.5em;
  text-align: center;
}

.pic {
  max-width: 100%;
  margin: auto;
}

.pic2 {
  max-width: 50%;
  margin: auto;
}

.trimg {
  max-width: 100%;
  height: auto;
}

.imgsub {
  padding-top: 3%;
  font-weight: bold;
}

.imgsub2 {
  font-size: 0.8em;
}

.content {
  text-align: left;
}

.topics {
  text-align: left;
  padding-top: 50px;
  font-weight: bold;
}

.about {
  text-align: left;
  font-weight: bold;
}