<section id="section01">
  <div class="heading">Beginner Track</div>
    <div class="subtext">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/image/people/will_eiffert2.jpg" class="pic">
            <div class="imgsub">
          William Eiffert
          </div>
          <div class="imgsub2">
          Assistant Instructor for Beginner
          </div>
        </div>
        <div class="col-md-6">
          <div class="about">About</div>
          <div class="content">The beginner track is the perfect place for
          novices of all majors and experience levels to
          get a basic understanding of how the web works and
          how to build simple, beautiful websites.</div>
          <div class="topics">Topics and Learning Objectives</div>
          <div class="content">Learn how web works, HTML
          & CSS, JavaScript, ES5  ES2015, Intro to
          Advanced Web Topics such as Nodejs and AngularJS.
          </div>
          <div class="topics">
            Meets: Every Tuesday at 6PM in PHYS 116 starting January 30th.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="section02">
  <div class="heading">Advanced Track</div>
    <div class="subtext">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/image/people/maneesh_beach.jpg" class="pic">
            <div class="imgsub">
          Maneesh Tewani
          </div>
          <div class="imgsub2">
          Lead Instructor
          </div>
        </div>
        <div class="col-md-6">
          <div class="about">About</div>
          <div class="content">The advanced track
            is built for people wanting to gain a deeper
            understanding of more advanced web technologies
            needed to build more extensive webpages.
          </div>
          <div class="topics">Topics and Learning Objectives</div>
          <div class="content">Node.js, Build Systems, Modules,
             TypeScript, Angular CLI, Advanced Angular 2 coverage,
              Redux/Immutable State, AngularFire 2
          </div>
          <div class="topics">
            Meets: Every Wednesday at 6PM in PHYS 116 starting January 31st.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="section03">
  <div class="heading">Assistant Instructors</div>
    <div class="subtext2">
      <h1 class="text-center"> We are currently looking for new instructors! Email us at wdc@purdue.edu for more info! </h1>
    </div>
</section>
