<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid" style="background-color: black">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#icon" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="app/image/logo.png" class="navimage">Purdue Web Dev Club</a>
    </div>
    <div class="collapse navbar-collapse" id="icon">
      <ul class="nav navbar-nav">
        <li class="links active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
        <li class="links"><a href="#">Tracks</a></li>
        <li class="links"><a href="#">Calendar</a></li>
        <li class="links"><a href="#">FAQ</a></li>
        <li class="links"><a href="mailto:wdc@purdue.edu"><img src="app/image/email.png" class="navsocial"></a></li>
        <li class="links"><a href="https://www.facebook.com/groups/722867181083626/" target="_blank"><img src="app/image/facebook.png" class="navsocial"></a></li>
        <li class="links"><a href="http://twitter.com/purduewebdev" target="_blank"><img src="app/image/twitter.png" class="navsocial"></a></li>
        <li class="links"><a href="http://instagram.com/purduewebdevclub" target="_blank"><img src="app/image/instagram.png" class="navsocial"></a></li>
      </ul>
    </div>
  </div>
</nav>
