<section id="header">
  <div class="container text-center">
    <h1>CS39000-WAP</h1>
    <h2>Web Application Development </h2>
    <h3>(Fall 2019)</h3>
  </div>
</section>

<section>
  <div class="container">
      <div class="subsection">
        <h4>Instructor</h4>
        <p>Nisarg Kolhe (nisarg@purdue.edu)</p>
      </div>
      <div class="subsection">
        <h4>Lecture</h4>
        <p>1:30 – 2:30PM at SC 239 on Tuesday </p>
      </div>

      <div class="subsection">
        <h4>TAs:</h4>
        <ul>
            <li>Varun Gupta (gupta298@purdue.edu)</li>
            <li>Raymond Troung (rtruong@purdue.edu)</li>
            <li>Cameron Glass (glass01@purdue.edu)</li>
            <li>Jaden Lee (lee2994@purdue.edu)</li>
            <li>Chris Lin (lin762@purdue.edu)</li>
        </ul>
      </div>

      <div class="subsection">
        <h4>Prerequisites</h4>
        <p>Basic knowledge of Programming (CS180).</p>
      </div>

      <div class="subsection">
        <h4>Goals</h4>
        <p>The goal of this course is to introduce and teach the latest web technologies involved in a full stack development job in the industry today and beyond.</p>
        <p>By the end of the course, students will learn how to independently build a web application, design it in a responsive way and deploy it at scale efficiently.</p>
      </div>

      <div class="subsection">
        <h4>Topics</h4>
        <p>We will be covering a variety of different topics; a high-level overview is available below:</p>
        <ul>
          <li>HTML & CSS</li>
          <li>Beginner JavaScript</li>
            <ul>
              <li>Syntax</li>
              <li>Dynamic vs static typing</li>
            </ul>
          <li>Advanced JavaScript</li>
            <ul>
              <li>ES2015+</li>
              <li>Promises</li>
            </ul>
          <li>Node.js</li>
          <li>React.JS</li>
          <li>Deploying Web Apps</li>
        </ul>
      </div>

      <div class="subsection">
        <h4>Grading Scheme</h4>
        <ul>
          <li>20% Lecture Attendance</li>
          <li>40% Weekly Labs</li>
          <li>40% Projects</li>
        </ul>
      </div>

      <div class="subsection">
        <h4>PSO Sessions:</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">PSO Section</th>
              <th scope="col">Time</th>
              <th scope="col">Day</th>
              <th scope="col">Room</th>
              <th scope="col">TA</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>P01</th>
              <td>11:30AM - 1:20PM</td>
              <td>Monday</td>
              <td>LWSN B158</td>
              <td>Cameron Glass & Jaden Lee</td>
            </tr>
            <tr>
              <th>P02</th>
              <td>1:30AM - 3:20PM</td>
              <td>Monday</td>
              <td>LSWN B158</td>
              <td>Nisarg Kolhe & Chris Lin</td>
            </tr>
            <tr>
              <th>P03</th>
              <td>3:30PM - 5:20PM</td>
              <td>Wednesday</td>
              <td>LWSN B158</td>
              <td>Varun Gupta & Raymond Troung</td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="subsection">
        <h4>Office Hours:</h4>
        <p>TBD</p>
        <!-- <p>All in HAAS G050, otherwise in G072 if G050 is unavailable.</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Day</th>
              <th scope="col">Time</th>
              <th scope="col">TA</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Tuesday</td>
              <td>3:30PM - 5:00PM</td>
              <td>Nisarg Kolhe</td>
            </tr>
            <tr>
              <td>Wednesday</td>
              <td>10:45AM - 12:15PM</td>
              <td>Anubhav Saxena</td>
            </tr>
            <tr>
              <td>Thursday</td>
              <td>2:00PM - 4:00PM</td>
              <td>Maneesh Tewani</td>
            </tr>
          </tbody>
        </table> -->
      </div>

      <div class="subsection">
        <h4>Labs:</h4>
        <p>Labs will be added as they are made available.</p>
        <!-- <table class="table">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Deadline</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="https://docs.google.com/document/d/1dugwBTYQq-lGdsoUNHFPTM-w_6y6kPckxb7_AxII74U/edit?usp=sharing" target="_blank" >HTML & CSS</a></td>
                <td>September 7th at 11:59PM</td>
              </tr>
            </tbody>
          </table> -->
        </div>
  </div>
</section>
