<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid" style="background-color: black">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="app/image/logo.png" class="navimage"></a>
    </div>
    <div class="collapse navbar-collapse" id="example-1">
      <ul class="nav navbar-nav">
        <li class="links active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
        <li class="links"><a href="#">Tracks</a></li>
        <li class="links"><a href="#">Calendar</a></li>
        <li class="links"><a href="#">FAQ</a></li>
        <li class="links"><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
