.navimage {
  height: inherit;
  width: inherit;
}

.active {
  border-width: 0 0 1px;
  border-style: solid;
  border-color: white;
}

.links a:hover{
  border-width: 0 0 1px;
  border-style: solid;
  border-color: white;
}

@media only screen and (min-width: 768px) {
#example-1 {
  float: right;
}
}
