/* You can add global styles to this file, and also import other style files */
html {
    background-image: url("app/image/background.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-color : black;
}
