<div class="responsive cal">
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=mtutd8qhd1ool2iplgvkkt3p9o%40group.calendar.google.com&amp;color=%238C500B&amp;ctz=Asia%2FCalcutta" style="border-width:0" width="1000" height="600" frameborder="0" scrolling="no"></iframe>
</div>

<section id="info">
	For further information you can also go to our
	Facebook page <a href="https://www.facebook.com/groups/722867181083626/">
		here</a>, join the mailing list <a href="bit.ly/wdc-spring-2017">here.</a>
</section>

<section id="section04" class="footer">
	©&nbsp;&nbsp;Purdue Web Dev Club 2017&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
  &nbsp;&nbsp;&nbsp;&nbsp;Written in <a href="https://angular.io" target="_blank">
    <img src="app/image/angular2.png" id="footerimg"></a>
  by <a href="http://saxena.xyz" target="_blank">&nbsp;Anubhav Saxena</a>
</section>
