<section id="section01" class="scroller">
	<a pageScroll [pageScrollOffset]="50" [pageScrollDuration]="1000" href="#section02"><span></span>Learn More</a>
</section>

<section id="section02">
  <div class="container">
    <div class="row">
      <div class="sectionheader">About the Club</div>
      <div class="sectiontext">
        The knowledge of web is arguably one
        of the most valuable skills in the technology
        industry.
        The Purdue Web Dev Club is Purdue's official Web
         Development club designed to teach students
         of all majors
        and levels skills
        needed to be good developers.
      </div>
      <div class="sectiontext2  ">
        No previous experience is required to join!
      </div>
    </div>
  </div>
<section>

<section id="section03">
  <div class="container">
    <div class="row">
      <div class="sectionheader">Executive Board</div>
    </div>
    <div class="row people">
      <div class="col-sm-3">
        <img src="app/image/people/maneesh.jpg" class="peopleimg">
        <div class="sectiontext3">
          Maneesh Tewani
        </div>
        <div class="sectiontext4">
          President, Advanced Track Lead Instructor
        </div>
      </div>
      <div class="col-sm-3">
        <img src="app/image/people/anubhav.jpg" class="peopleimg">
        <div class="sectiontext3">
          Anubhav Saxena
        </div>
        <div class="sectiontext4">
          Webmaster, Beginner Track Lead Instructor
        </div>
      </div>
      <div class="col-sm-3">
        <img src="app/image/people/madeline.jpg" class="peopleimg">
        <div class="sectiontext3">
          Madeline Conley
        </div>
        <div class="sectiontext4">
        Director of Public Relations
        </div>
      </div>
      <div class="col-sm-3">
        <img src="app/image/people/avadhoot.jpg" class="peopleimg">
        <div class="sectiontext3">
          Avadhoot Joshi
        </div>
        <div class="sectiontext4">
          Treasurer
        </div>
      </div>
    </div>
  </div>
</section>

<section id="section04" class="footer">
	©&nbsp;&nbsp;Purdue Web Dev Club 2017&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
  &nbsp;&nbsp;&nbsp;&nbsp;Written in <a href="https://angular.io" target="_blank">
    <img src="app/image/angular2.png" id="footerimg"></a>
  by <a href="saxena.xyz">&nbsp;Anubhav Saxena</a>
</section>
