<img
          sizes="(max-width: 1092px) 100vw, 1092px"
          lazyLoad="/assets/image/logo-223x.png 223w,
          /assets/image/logo-446x.png 446w,
          /assets/image/logo-670x.png 670w,
          /assets/image/logo-893x.png 893w,
          /assets/image/logo-1116x.png 1116w"
          [useSrcset]="true"
          class="logo"
          alt="">
<section id="section01" class="scroller">
	<a pageScroll [pageScrollOffset]="50" [pageScrollDuration]="1000" href="#section02"><span></span>Learn More</a>
</section>

<section id="section02">
  <div class="container">
    <div class="row">
      <div class="sectionheader">About the Club</div>
      <div class="sectiontext">
        The knowledge of web is arguably one
        of the most valuable skills in the technology
        industry.
        The Purdue Web Dev Club is Purdue's official Web
         Development club designed to teach students
         of all majors
        and levels skills
        needed to be good developers.
      </div>
      <div class="sectiontext2">
        No previous experience is required to join!
      </div>
      <h3 class="text-center">
        Beginner Meetings: Every Tuesday at 6PM in PHYS 116 starting January 30th!
      </h3>
    <h3 class="text-center">
        Advanced Meetings: Every Wednesday at 6PM in PHYS 116 starting January 31st!
      </h3>
    </div>
  </div>
<section>

<section id="section03">
  <div class="container">
    <div class="row">
      <div class="sectionheader">Executive Board</div>
    </div>
    <div class="row people">
      <div class="col-sm-3">
          <img
          lazyLoad="
          /assets/image/people/maneesh_beach_gpvbad_ar_1_1,c_fill,g_auto__c_scale,w_200.jpg 200w,
          /assets/image/people/maneesh_beach_gpvbad_ar_1_1,c_fill,g_auto__c_scale,w_346.jpg 346w,
          /assets/image/people/maneesh_beach_gpvbad_ar_1_1,c_fill,g_auto__c_scale,w_461.jpg 461w,
          /assets/image/people/maneesh_beach_gpvbad_ar_1_1,c_fill,g_auto__c_scale,w_556.jpg 556w,
          /assets/image/people/maneesh_beach_gpvbad_ar_1_1,c_fill,g_auto__c_scale,w_639.jpg 639w,
          /assets/image/people/maneesh_beach_gpvbad_ar_1_1,c_fill,g_auto__c_scale,w_724.jpg 724w,
          /assets/image/people/maneesh_beach_gpvbad_ar_1_1,c_fill,g_auto__c_scale,w_767.jpg 767w"
          [useSrcset]="true"
          class="peopleimg"
          alt="">
        <div class="sectiontext3">
          Maneesh Tewani
        </div>
        <div class="sectiontext4">
          President, Beginner/Advanced Track Lead Instructor
        </div>
      </div>
      <div class="col-sm-3">
        <img lazyLoad="/assets/image/people/will_eiffert2.jpg" class="peopleimg">
        <div class="sectiontext3">
          William Eiffert
        </div>
        <div class="sectiontext4">
          Beginner Track Assistant Instructor </div>
      </div>
      <div class="col-sm-3">
        <img lazyLoad="/assets/image/people/niharika.jpg" class="peopleimg">
        <div class="sectiontext3">
          Niharika Vijay Pujar
        </div>
        <div class="sectiontext4">
        Head of Public Relations
        </div>
      </div>
      <div class="col-sm-3">
      <img
          lazyLoad="/assets/image/people/indhu-218x.jpg 218w,
          /assets/image/people/indhu-437x.jpg 437w,
          /assets/image/people/indhu-655x.jpg 655w,
          /assets/image/people/indhu-874x.jpg 874w,
          /assets/image/people/indhu-1092x.jpg 1092w"
          [useSrcset]="true"
          class="peopleimg"
          alt="">
        <div class="sectiontext3">
          Indhu Ramanathan
        </div>
        <div class="sectiontext4">
          Treasurer
        </div>
      </div>
    </div>
  </div>
</section>
