<section id="section01" class="scroller">
	<a pageScroll [pageScrollDuration]="5000" href="#section02"><span></span>Learn More</a>
</section>

<section id="section02" class="about">
  <div class="container">
    <div class="row">
      <div class="sectionheader">About the Club</div>
      <div class="sectiontext">
        The knowledge of web is arguably one
        of the most valuable skills in the technology
        industry.
        The Purdue Web Dev Club is Purdue's official Web
         Development club designed to teach students
         of all majors
        and levels skills
        needed to be good developers.
      </div>
      <div class="sectiontext2">
        No previous experience is required to join!
      </div>
    </div>
  </div>
<section>
